<footer id="footer">
  <div class="inner">
    <section>
      <h2>Get in touch</h2>
      <form (submit)="sendEmail(message)">
        <div class="field half first">
          <input type="text" name="name" id="name" placeholder="Name" [(ngModel)]="message.name" />
        </div>
        <div class="field half">
          <input type="email" name="email" id="email" placeholder="Email" [(ngModel)]="message.email" />
        </div>
        <div class="field">
          <textarea name="message" id="message" placeholder="Message" [(ngModel)]="message.message"></textarea>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Send" class="special" /></li>
        </ul>
      </form>
      <toaster-container [toasterconfig]="config1"></toaster-container>
    </section>
    <section>
      <h2>Follow</h2>
      <ul class="icons">
        <!-- <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li> -->
        <!-- <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li> -->
        <li><a href="https://www.youtube.com/channel/UC8xpakpTlmn_Q8BPCNSSVZw/videos" class="icon style2 fa-youtube-play"><span class="label">Youtube</span></a></li>
        <!-- <li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li> -->
        <li><a href="mailto:menciusmusic@gmail.com" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
      </ul>
    </section>
    <ul class="copyright">
      <li>&copy; MENCIUSmusic. All rights reserved</li>
    </ul>
  </div>
</footer>
