<header id="header">
  <div class="inner">

    <!-- Logo -->
    <a routerLink="/home" routerLinkActive="active" class="logo">
									<span class="symbol"><img src="assets/images/logo.jpg" alt="" /></span><span class="title">MENCIUSmusic</span>
								</a>

    <!-- Nav -->
    <!-- <nav>
      <ul>
        <li><a href="#menu">Menu</a></li>
      </ul>
    </nav> -->

  </div>
</header>

<!-- Menu
<nav id="menu">
  <h2>Menu</h2>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Latest uploads</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/quotes" routerLinkActive="active">Quotes</a></li>
    <li><a routerLink="/submit" routerLinkActive="active">Submit</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</nav> -->
