@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");


/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}


/* Box Model */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* Grid */

.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row>* {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row:after,
.row:before {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.row.uniform>*> :first-child {
  margin-top: 0;
}

.row.uniform>*> :last-child {
  margin-bottom: 0;
}

.row.\30 \25>* {
  padding: 0 0 0 0em;
}

.row.\30 \25 {
  margin: 0 0 -1px 0em;
}

.row.uniform.\30 \25>* {
  padding: 0em 0 0 0em;
}

.row.uniform.\30 \25 {
  margin: 0em 0 -1px 0em;
}

.row>* {
  padding: 0 0 0 2em;
}

.row {
  margin: 0 0 -1px -2em;
}

.row.uniform>* {
  padding: 2em 0 0 2em;
}

.row.uniform {
  margin: -2em 0 -1px -2em;
}

.row.\32 00\25>* {
  padding: 0 0 0 4em;
}

.row.\32 00\25 {
  margin: 0 0 -1px -4em;
}

.row.uniform.\32 00\25>* {
  padding: 4em 0 0 4em;
}

.row.uniform.\32 00\25 {
  margin: -4em 0 -1px -4em;
}

.row.\31 50\25>* {
  padding: 0 0 0 3em;
}

.row.\31 50\25 {
  margin: 0 0 -1px -3em;
}

.row.uniform.\31 50\25>* {
  padding: 3em 0 0 3em;
}

.row.uniform.\31 50\25 {
  margin: -3em 0 -1px -3em;
}

.row.\35 0\25>* {
  padding: 0 0 0 1em;
}

.row.\35 0\25 {
  margin: 0 0 -1px -1em;
}

.row.uniform.\35 0\25>* {
  padding: 1em 0 0 1em;
}

.row.uniform.\35 0\25 {
  margin: -1em 0 -1px -1em;
}

.row.\32 5\25>* {
  padding: 0 0 0 0.5em;
}

.row.\32 5\25 {
  margin: 0 0 -1px -0.5em;
}

.row.uniform.\32 5\25>* {
  padding: 0.5em 0 0 0.5em;
}

.row.uniform.\32 5\25 {
  margin: -0.5em 0 -1px -0.5em;
}

.\31 2u,
.\31 2u\24 {
  width: 100%;
  clear: none;
  margin-left: 0;
}

.\31 1u,
.\31 1u\24 {
  width: 91.6666666667%;
  clear: none;
  margin-left: 0;
}

.\31 0u,
.\31 0u\24 {
  width: 83.3333333333%;
  clear: none;
  margin-left: 0;
}

.\39 u,
.\39 u\24 {
  width: 75%;
  clear: none;
  margin-left: 0;
}

.\38 u,
.\38 u\24 {
  width: 66.6666666667%;
  clear: none;
  margin-left: 0;
}

.\37 u,
.\37 u\24 {
  width: 58.3333333333%;
  clear: none;
  margin-left: 0;
}

.\36 u,
.\36 u\24 {
  width: 50%;
  clear: none;
  margin-left: 0;
}

.\35 u,
.\35 u\24 {
  width: 41.6666666667%;
  clear: none;
  margin-left: 0;
}

.\34 u,
.\34 u\24 {
  width: 33.3333333333%;
  clear: none;
  margin-left: 0;
}

.\33 u,
.\33 u\24 {
  width: 25%;
  clear: none;
  margin-left: 0;
}

.\32 u,
.\32 u\24 {
  width: 16.6666666667%;
  clear: none;
  margin-left: 0;
}

.\31 u,
.\31 u\24 {
  width: 8.3333333333%;
  clear: none;
  margin-left: 0;
}

.\31 2u\24+*,
.\31 1u\24+*,
.\31 0u\24+*,
.\39 u\24+*,
.\38 u\24+*,
.\37 u\24+*,
.\36 u\24+*,
.\35 u\24+*,
.\34 u\24+*,
.\33 u\24+*,
.\32 u\24+*,
.\31 u\24+* {
  clear: left;
}

.\-11u {
  margin-left: 91.66667%;
}

.\-10u {
  margin-left: 83.33333%;
}

.\-9u {
  margin-left: 75%;
}

.\-8u {
  margin-left: 66.66667%;
}

.\-7u {
  margin-left: 58.33333%;
}

.\-6u {
  margin-left: 50%;
}

.\-5u {
  margin-left: 41.66667%;
}

.\-4u {
  margin-left: 33.33333%;
}

.\-3u {
  margin-left: 25%;
}

.\-2u {
  margin-left: 16.66667%;
}

.\-1u {
  margin-left: 8.33333%;
}

@media screen and (max-width: 1680px) {
  .row>* {
    padding: 0 0 0 2em;
  }
  .row {
    margin: 0 0 -1px -2em;
  }
  .row.uniform>* {
    padding: 2em 0 0 2em;
  }
  .row.uniform {
    margin: -2em 0 -1px -2em;
  }
  .row.\32 00\25>* {
    padding: 0 0 0 4em;
  }
  .row.\32 00\25 {
    margin: 0 0 -1px -4em;
  }
  .row.uniform.\32 00\25>* {
    padding: 4em 0 0 4em;
  }
  .row.uniform.\32 00\25 {
    margin: -4em 0 -1px -4em;
  }
  .row.\31 50\25>* {
    padding: 0 0 0 3em;
  }
  .row.\31 50\25 {
    margin: 0 0 -1px -3em;
  }
  .row.uniform.\31 50\25>* {
    padding: 3em 0 0 3em;
  }
  .row.uniform.\31 50\25 {
    margin: -3em 0 -1px -3em;
  }
  .row.\35 0\25>* {
    padding: 0 0 0 1em;
  }
  .row.\35 0\25 {
    margin: 0 0 -1px -1em;
  }
  .row.uniform.\35 0\25>* {
    padding: 1em 0 0 1em;
  }
  .row.uniform.\35 0\25 {
    margin: -1em 0 -1px -1em;
  }
  .row.\32 5\25>* {
    padding: 0 0 0 0.5em;
  }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.5em;
  }
  .row.uniform.\32 5\25>* {
    padding: 0.5em 0 0 0.5em;
  }
  .row.uniform.\32 5\25 {
    margin: -0.5em 0 -1px -0.5em;
  }
  .\31 2u\28xlarge\29,
  .\31 2u\24\28xlarge\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28xlarge\29,
  .\31 1u\24\28xlarge\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28xlarge\29,
  .\31 0u\24\28xlarge\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28xlarge\29,
  .\39 u\24\28xlarge\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28xlarge\29,
  .\38 u\24\28xlarge\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28xlarge\29,
  .\37 u\24\28xlarge\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28xlarge\29,
  .\36 u\24\28xlarge\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28xlarge\29,
  .\35 u\24\28xlarge\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28xlarge\29,
  .\34 u\24\28xlarge\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28xlarge\29,
  .\33 u\24\28xlarge\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28xlarge\29,
  .\32 u\24\28xlarge\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28xlarge\29,
  .\31 u\24\28xlarge\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28xlarge\29+*,
  .\31 1u\24\28xlarge\29+*,
  .\31 0u\24\28xlarge\29+*,
  .\39 u\24\28xlarge\29+*,
  .\38 u\24\28xlarge\29+*,
  .\37 u\24\28xlarge\29+*,
  .\36 u\24\28xlarge\29+*,
  .\35 u\24\28xlarge\29+*,
  .\34 u\24\28xlarge\29+*,
  .\33 u\24\28xlarge\29+*,
  .\32 u\24\28xlarge\29+*,
  .\31 u\24\28xlarge\29+* {
    clear: left;
  }
  .\-11u\28xlarge\29 {
    margin-left: 91.66667%;
  }
  .\-10u\28xlarge\29 {
    margin-left: 83.33333%;
  }
  .\-9u\28xlarge\29 {
    margin-left: 75%;
  }
  .\-8u\28xlarge\29 {
    margin-left: 66.66667%;
  }
  .\-7u\28xlarge\29 {
    margin-left: 58.33333%;
  }
  .\-6u\28xlarge\29 {
    margin-left: 50%;
  }
  .\-5u\28xlarge\29 {
    margin-left: 41.66667%;
  }
  .\-4u\28xlarge\29 {
    margin-left: 33.33333%;
  }
  .\-3u\28xlarge\29 {
    margin-left: 25%;
  }
  .\-2u\28xlarge\29 {
    margin-left: 16.66667%;
  }
  .\-1u\28xlarge\29 {
    margin-left: 8.33333%;
  }
}

@media screen and (max-width: 1280px) {
  .row>* {
    padding: 0 0 0 2em;
  }
  .row {
    margin: 0 0 -1px -2em;
  }
  .row.uniform>* {
    padding: 2em 0 0 2em;
  }
  .row.uniform {
    margin: -2em 0 -1px -2em;
  }
  .row.\32 00\25>* {
    padding: 0 0 0 4em;
  }
  .row.\32 00\25 {
    margin: 0 0 -1px -4em;
  }
  .row.uniform.\32 00\25>* {
    padding: 4em 0 0 4em;
  }
  .row.uniform.\32 00\25 {
    margin: -4em 0 -1px -4em;
  }
  .row.\31 50\25>* {
    padding: 0 0 0 3em;
  }
  .row.\31 50\25 {
    margin: 0 0 -1px -3em;
  }
  .row.uniform.\31 50\25>* {
    padding: 3em 0 0 3em;
  }
  .row.uniform.\31 50\25 {
    margin: -3em 0 -1px -3em;
  }
  .row.\35 0\25>* {
    padding: 0 0 0 1em;
  }
  .row.\35 0\25 {
    margin: 0 0 -1px -1em;
  }
  .row.uniform.\35 0\25>* {
    padding: 1em 0 0 1em;
  }
  .row.uniform.\35 0\25 {
    margin: -1em 0 -1px -1em;
  }
  .row.\32 5\25>* {
    padding: 0 0 0 0.5em;
  }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.5em;
  }
  .row.uniform.\32 5\25>* {
    padding: 0.5em 0 0 0.5em;
  }
  .row.uniform.\32 5\25 {
    margin: -0.5em 0 -1px -0.5em;
  }
  .\31 2u\28large\29,
  .\31 2u\24\28large\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28large\29,
  .\31 1u\24\28large\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28large\29,
  .\31 0u\24\28large\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28large\29,
  .\39 u\24\28large\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28large\29,
  .\38 u\24\28large\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28large\29,
  .\37 u\24\28large\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28large\29,
  .\36 u\24\28large\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28large\29,
  .\35 u\24\28large\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28large\29,
  .\34 u\24\28large\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28large\29,
  .\33 u\24\28large\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28large\29,
  .\32 u\24\28large\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28large\29,
  .\31 u\24\28large\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28large\29+*,
  .\31 1u\24\28large\29+*,
  .\31 0u\24\28large\29+*,
  .\39 u\24\28large\29+*,
  .\38 u\24\28large\29+*,
  .\37 u\24\28large\29+*,
  .\36 u\24\28large\29+*,
  .\35 u\24\28large\29+*,
  .\34 u\24\28large\29+*,
  .\33 u\24\28large\29+*,
  .\32 u\24\28large\29+*,
  .\31 u\24\28large\29+* {
    clear: left;
  }
  .\-11u\28large\29 {
    margin-left: 91.66667%;
  }
  .\-10u\28large\29 {
    margin-left: 83.33333%;
  }
  .\-9u\28large\29 {
    margin-left: 75%;
  }
  .\-8u\28large\29 {
    margin-left: 66.66667%;
  }
  .\-7u\28large\29 {
    margin-left: 58.33333%;
  }
  .\-6u\28large\29 {
    margin-left: 50%;
  }
  .\-5u\28large\29 {
    margin-left: 41.66667%;
  }
  .\-4u\28large\29 {
    margin-left: 33.33333%;
  }
  .\-3u\28large\29 {
    margin-left: 25%;
  }
  .\-2u\28large\29 {
    margin-left: 16.66667%;
  }
  .\-1u\28large\29 {
    margin-left: 8.33333%;
  }
}

@media screen and (max-width: 980px) {
  .row>* {
    padding: 0 0 0 1.5em;
  }
  .row {
    margin: 0 0 -1px -1.5em;
  }
  .row.uniform>* {
    padding: 1.5em 0 0 1.5em;
  }
  .row.uniform {
    margin: -1.5em 0 -1px -1.5em;
  }
  .row.\32 00\25>* {
    padding: 0 0 0 3em;
  }
  .row.\32 00\25 {
    margin: 0 0 -1px -3em;
  }
  .row.uniform.\32 00\25>* {
    padding: 3em 0 0 3em;
  }
  .row.uniform.\32 00\25 {
    margin: -3em 0 -1px -3em;
  }
  .row.\31 50\25>* {
    padding: 0 0 0 2.25em;
  }
  .row.\31 50\25 {
    margin: 0 0 -1px -2.25em;
  }
  .row.uniform.\31 50\25>* {
    padding: 2.25em 0 0 2.25em;
  }
  .row.uniform.\31 50\25 {
    margin: -2.25em 0 -1px -2.25em;
  }
  .row.\35 0\25>* {
    padding: 0 0 0 0.75em;
  }
  .row.\35 0\25 {
    margin: 0 0 -1px -0.75em;
  }
  .row.uniform.\35 0\25>* {
    padding: 0.75em 0 0 0.75em;
  }
  .row.uniform.\35 0\25 {
    margin: -0.75em 0 -1px -0.75em;
  }
  .row.\32 5\25>* {
    padding: 0 0 0 0.375em;
  }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.375em;
  }
  .row.uniform.\32 5\25>* {
    padding: 0.375em 0 0 0.375em;
  }
  .row.uniform.\32 5\25 {
    margin: -0.375em 0 -1px -0.375em;
  }
  .\31 2u\28medium\29,
  .\31 2u\24\28medium\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28medium\29,
  .\31 1u\24\28medium\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28medium\29,
  .\31 0u\24\28medium\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28medium\29,
  .\39 u\24\28medium\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28medium\29,
  .\38 u\24\28medium\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28medium\29,
  .\37 u\24\28medium\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28medium\29,
  .\36 u\24\28medium\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28medium\29,
  .\35 u\24\28medium\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28medium\29,
  .\34 u\24\28medium\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28medium\29,
  .\33 u\24\28medium\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28medium\29,
  .\32 u\24\28medium\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28medium\29,
  .\31 u\24\28medium\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28medium\29+*,
  .\31 1u\24\28medium\29+*,
  .\31 0u\24\28medium\29+*,
  .\39 u\24\28medium\29+*,
  .\38 u\24\28medium\29+*,
  .\37 u\24\28medium\29+*,
  .\36 u\24\28medium\29+*,
  .\35 u\24\28medium\29+*,
  .\34 u\24\28medium\29+*,
  .\33 u\24\28medium\29+*,
  .\32 u\24\28medium\29+*,
  .\31 u\24\28medium\29+* {
    clear: left;
  }
  .\-11u\28medium\29 {
    margin-left: 91.66667%;
  }
  .\-10u\28medium\29 {
    margin-left: 83.33333%;
  }
  .\-9u\28medium\29 {
    margin-left: 75%;
  }
  .\-8u\28medium\29 {
    margin-left: 66.66667%;
  }
  .\-7u\28medium\29 {
    margin-left: 58.33333%;
  }
  .\-6u\28medium\29 {
    margin-left: 50%;
  }
  .\-5u\28medium\29 {
    margin-left: 41.66667%;
  }
  .\-4u\28medium\29 {
    margin-left: 33.33333%;
  }
  .\-3u\28medium\29 {
    margin-left: 25%;
  }
  .\-2u\28medium\29 {
    margin-left: 16.66667%;
  }
  .\-1u\28medium\29 {
    margin-left: 8.33333%;
  }
}

@media screen and (max-width: 736px) {
  .row>* {
    padding: 0 0 0 1em;
  }
  .row {
    margin: 0 0 -1px -1em;
  }
  .row.uniform>* {
    padding: 1em 0 0 1em;
  }
  .row.uniform {
    margin: -1em 0 -1px -1em;
  }
  .row.\32 00\25>* {
    padding: 0 0 0 2em;
  }
  .row.\32 00\25 {
    margin: 0 0 -1px -2em;
  }
  .row.uniform.\32 00\25>* {
    padding: 2em 0 0 2em;
  }
  .row.uniform.\32 00\25 {
    margin: -2em 0 -1px -2em;
  }
  .row.\31 50\25>* {
    padding: 0 0 0 1.5em;
  }
  .row.\31 50\25 {
    margin: 0 0 -1px -1.5em;
  }
  .row.uniform.\31 50\25>* {
    padding: 1.5em 0 0 1.5em;
  }
  .row.uniform.\31 50\25 {
    margin: -1.5em 0 -1px -1.5em;
  }
  .row.\35 0\25>* {
    padding: 0 0 0 0.5em;
  }
  .row.\35 0\25 {
    margin: 0 0 -1px -0.5em;
  }
  .row.uniform.\35 0\25>* {
    padding: 0.5em 0 0 0.5em;
  }
  .row.uniform.\35 0\25 {
    margin: -0.5em 0 -1px -0.5em;
  }
  .row.\32 5\25>* {
    padding: 0 0 0 0.25em;
  }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.25em;
  }
  .row.uniform.\32 5\25>* {
    padding: 0.25em 0 0 0.25em;
  }
  .row.uniform.\32 5\25 {
    margin: -0.25em 0 -1px -0.25em;
  }
  .\31 2u\28small\29,
  .\31 2u\24\28small\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28small\29,
  .\31 1u\24\28small\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28small\29,
  .\31 0u\24\28small\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28small\29,
  .\39 u\24\28small\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28small\29,
  .\38 u\24\28small\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28small\29,
  .\37 u\24\28small\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28small\29,
  .\36 u\24\28small\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28small\29,
  .\35 u\24\28small\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28small\29,
  .\34 u\24\28small\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28small\29,
  .\33 u\24\28small\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28small\29,
  .\32 u\24\28small\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28small\29,
  .\31 u\24\28small\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28small\29+*,
  .\31 1u\24\28small\29+*,
  .\31 0u\24\28small\29+*,
  .\39 u\24\28small\29+*,
  .\38 u\24\28small\29+*,
  .\37 u\24\28small\29+*,
  .\36 u\24\28small\29+*,
  .\35 u\24\28small\29+*,
  .\34 u\24\28small\29+*,
  .\33 u\24\28small\29+*,
  .\32 u\24\28small\29+*,
  .\31 u\24\28small\29+* {
    clear: left;
  }
  .\-11u\28small\29 {
    margin-left: 91.66667%;
  }
  .\-10u\28small\29 {
    margin-left: 83.33333%;
  }
  .\-9u\28small\29 {
    margin-left: 75%;
  }
  .\-8u\28small\29 {
    margin-left: 66.66667%;
  }
  .\-7u\28small\29 {
    margin-left: 58.33333%;
  }
  .\-6u\28small\29 {
    margin-left: 50%;
  }
  .\-5u\28small\29 {
    margin-left: 41.66667%;
  }
  .\-4u\28small\29 {
    margin-left: 33.33333%;
  }
  .\-3u\28small\29 {
    margin-left: 25%;
  }
  .\-2u\28small\29 {
    margin-left: 16.66667%;
  }
  .\-1u\28small\29 {
    margin-left: 8.33333%;
  }
}

@media screen and (max-width: 480px) {
  .row>* {
    padding: 0 0 0 1em;
  }
  .row {
    margin: 0 0 -1px -1em;
  }
  .row.uniform>* {
    padding: 1em 0 0 1em;
  }
  .row.uniform {
    margin: -1em 0 -1px -1em;
  }
  .row.\32 00\25>* {
    padding: 0 0 0 2em;
  }
  .row.\32 00\25 {
    margin: 0 0 -1px -2em;
  }
  .row.uniform.\32 00\25>* {
    padding: 2em 0 0 2em;
  }
  .row.uniform.\32 00\25 {
    margin: -2em 0 -1px -2em;
  }
  .row.\31 50\25>* {
    padding: 0 0 0 1.5em;
  }
  .row.\31 50\25 {
    margin: 0 0 -1px -1.5em;
  }
  .row.uniform.\31 50\25>* {
    padding: 1.5em 0 0 1.5em;
  }
  .row.uniform.\31 50\25 {
    margin: -1.5em 0 -1px -1.5em;
  }
  .row.\35 0\25>* {
    padding: 0 0 0 0.5em;
  }
  .row.\35 0\25 {
    margin: 0 0 -1px -0.5em;
  }
  .row.uniform.\35 0\25>* {
    padding: 0.5em 0 0 0.5em;
  }
  .row.uniform.\35 0\25 {
    margin: -0.5em 0 -1px -0.5em;
  }
  .row.\32 5\25>* {
    padding: 0 0 0 0.25em;
  }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.25em;
  }
  .row.uniform.\32 5\25>* {
    padding: 0.25em 0 0 0.25em;
  }
  .row.uniform.\32 5\25 {
    margin: -0.25em 0 -1px -0.25em;
  }
  .\31 2u\28xsmall\29,
  .\31 2u\24\28xsmall\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28xsmall\29,
  .\31 1u\24\28xsmall\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28xsmall\29,
  .\31 0u\24\28xsmall\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28xsmall\29,
  .\39 u\24\28xsmall\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28xsmall\29,
  .\38 u\24\28xsmall\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28xsmall\29,
  .\37 u\24\28xsmall\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28xsmall\29,
  .\36 u\24\28xsmall\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28xsmall\29,
  .\35 u\24\28xsmall\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28xsmall\29,
  .\34 u\24\28xsmall\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28xsmall\29,
  .\33 u\24\28xsmall\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28xsmall\29,
  .\32 u\24\28xsmall\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28xsmall\29,
  .\31 u\24\28xsmall\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28xsmall\29+*,
  .\31 1u\24\28xsmall\29+*,
  .\31 0u\24\28xsmall\29+*,
  .\39 u\24\28xsmall\29+*,
  .\38 u\24\28xsmall\29+*,
  .\37 u\24\28xsmall\29+*,
  .\36 u\24\28xsmall\29+*,
  .\35 u\24\28xsmall\29+*,
  .\34 u\24\28xsmall\29+*,
  .\33 u\24\28xsmall\29+*,
  .\32 u\24\28xsmall\29+*,
  .\31 u\24\28xsmall\29+* {
    clear: left;
  }
  .\-11u\28xsmall\29 {
    margin-left: 91.66667%;
  }
  .\-10u\28xsmall\29 {
    margin-left: 83.33333%;
  }
  .\-9u\28xsmall\29 {
    margin-left: 75%;
  }
  .\-8u\28xsmall\29 {
    margin-left: 66.66667%;
  }
  .\-7u\28xsmall\29 {
    margin-left: 58.33333%;
  }
  .\-6u\28xsmall\29 {
    margin-left: 50%;
  }
  .\-5u\28xsmall\29 {
    margin-left: 41.66667%;
  }
  .\-4u\28xsmall\29 {
    margin-left: 33.33333%;
  }
  .\-3u\28xsmall\29 {
    margin-left: 25%;
  }
  .\-2u\28xsmall\29 {
    margin-left: 16.66667%;
  }
  .\-1u\28xsmall\29 {
    margin-left: 8.33333%;
  }
}

@media screen and (max-width: 360px) {
  .row>* {
    padding: 0 0 0 1em;
  }
  .row {
    margin: 0 0 -1px -1em;
  }
  .row.uniform>* {
    padding: 1em 0 0 1em;
  }
  .row.uniform {
    margin: -1em 0 -1px -1em;
  }
  .row.\32 00\25>* {
    padding: 0 0 0 2em;
  }
  .row.\32 00\25 {
    margin: 0 0 -1px -2em;
  }
  .row.uniform.\32 00\25>* {
    padding: 2em 0 0 2em;
  }
  .row.uniform.\32 00\25 {
    margin: -2em 0 -1px -2em;
  }
  .row.\31 50\25>* {
    padding: 0 0 0 1.5em;
  }
  .row.\31 50\25 {
    margin: 0 0 -1px -1.5em;
  }
  .row.uniform.\31 50\25>* {
    padding: 1.5em 0 0 1.5em;
  }
  .row.uniform.\31 50\25 {
    margin: -1.5em 0 -1px -1.5em;
  }
  .row.\35 0\25>* {
    padding: 0 0 0 0.5em;
  }
  .row.\35 0\25 {
    margin: 0 0 -1px -0.5em;
  }
  .row.uniform.\35 0\25>* {
    padding: 0.5em 0 0 0.5em;
  }
  .row.uniform.\35 0\25 {
    margin: -0.5em 0 -1px -0.5em;
  }
  .row.\32 5\25>* {
    padding: 0 0 0 0.25em;
  }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.25em;
  }
  .row.uniform.\32 5\25>* {
    padding: 0.25em 0 0 0.25em;
  }
  .row.uniform.\32 5\25 {
    margin: -0.25em 0 -1px -0.25em;
  }
  .\31 2u\28xxsmall\29,
  .\31 2u\24\28xxsmall\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28xxsmall\29,
  .\31 1u\24\28xxsmall\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28xxsmall\29,
  .\31 0u\24\28xxsmall\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28xxsmall\29,
  .\39 u\24\28xxsmall\29 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28xxsmall\29,
  .\38 u\24\28xxsmall\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28xxsmall\29,
  .\37 u\24\28xxsmall\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28xxsmall\29,
  .\36 u\24\28xxsmall\29 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28xxsmall\29,
  .\35 u\24\28xxsmall\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28xxsmall\29,
  .\34 u\24\28xxsmall\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28xxsmall\29,
  .\33 u\24\28xxsmall\29 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28xxsmall\29,
  .\32 u\24\28xxsmall\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28xxsmall\29,
  .\31 u\24\28xxsmall\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28xxsmall\29+*,
  .\31 1u\24\28xxsmall\29+*,
  .\31 0u\24\28xxsmall\29+*,
  .\39 u\24\28xxsmall\29+*,
  .\38 u\24\28xxsmall\29+*,
  .\37 u\24\28xxsmall\29+*,
  .\36 u\24\28xxsmall\29+*,
  .\35 u\24\28xxsmall\29+*,
  .\34 u\24\28xxsmall\29+*,
  .\33 u\24\28xxsmall\29+*,
  .\32 u\24\28xxsmall\29+*,
  .\31 u\24\28xxsmall\29+* {
    clear: left;
  }
  .\-11u\28xxsmall\29 {
    margin-left: 91.66667%;
  }
  .\-10u\28xxsmall\29 {
    margin-left: 83.33333%;
  }
  .\-9u\28xxsmall\29 {
    margin-left: 75%;
  }
  .\-8u\28xxsmall\29 {
    margin-left: 66.66667%;
  }
  .\-7u\28xxsmall\29 {
    margin-left: 58.33333%;
  }
  .\-6u\28xxsmall\29 {
    margin-left: 50%;
  }
  .\-5u\28xxsmall\29 {
    margin-left: 41.66667%;
  }
  .\-4u\28xxsmall\29 {
    margin-left: 33.33333%;
  }
  .\-3u\28xxsmall\29 {
    margin-left: 25%;
  }
  .\-2u\28xxsmall\29 {
    margin-left: 16.66667%;
  }
  .\-1u\28xxsmall\29 {
    margin-left: 8.33333%;
  }
}


/* Basic */

@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}

body {
  background: #ffffff;
}

body.is-loading *,
body.is-loading *:before,
body.is-loading *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}


/* Type */

body,
input,
select,
textarea {
  color: #585858;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.75;
}

@media screen and (max-width: 1680px) {
  body,
  input,
  select,
  textarea {
    font-size: 14pt;
  }
}

@media screen and (max-width: 1280px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

a {
  -moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  -webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  -ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  transition: border-bottom-color 0.2s ease, color 0.2s ease;
  text-decoration: none;
  color: #585858;
  border-bottom: dotted 1px rgba(88, 88, 88, 0.5);
}

a:hover {
  border-bottom-color: transparent;
  color: #7bd0c1 !important;
}

strong,
b {
  font-weight: 900;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 1em 0;
  letter-spacing: -0.035em;
}

h1 a {
  color: inherit;
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 2em;
    margin: 0 0 1em 0;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 1.75em;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  line-height: 1.5;
  margin: 0 0 2em 0;
  text-transform: uppercase;
  letter-spacing: 0.35em;
}

h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 1em;
  margin: 0 0 0em 0;
}

h4 {
  font-size: 0.8em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.8em;
}

@media screen and (max-width: 980px) {
  h1 br,
  h2 br,
  h3 br,
  h4 br,
  h5 br,
  h6 br {
    display: none;
  }
}

@media screen and (max-width: 736px) {
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.8em;
  }
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

blockquote {
  border-left: solid 4px #c9c9c9;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

code {
  background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  border: solid 1px #c9c9c9;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0;
}

pre code {
  display: block;
  line-height: 1.75;
  padding: 1em 1.5em;
  overflow-x: auto;
}

hr {
  border: 0;
  border-bottom: solid 1px #c9c9c9;
  margin: 2em 0;
}

hr.major {
  margin: 3em 0;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}


/* Section/Article */

section.special,
article.special {
  text-align: center;
}

header p {
  margin-top: -1em;
}

@media screen and (max-width: 736px) {
  header p {
    margin-top: 0;
  }
}


/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon>.label {
  display: none;
}

.icon.style2 {
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  background-color: transparent;
  border: solid 1px #c9c9c9;
  border-radius: 4px;
  width: 2.65em;
  height: 2.65em;
  display: inline-block;
  text-align: center;
  line-height: 2.65em;
  color: inherit;
}

.icon.style2:before {
  font-size: 1.1em;
}

.icon.style2:hover {
  color: #7bd0c1;
  border-color: #7bd0c1;
}

.icon.style2:active {
  background-color: rgba(242, 132, 158, 0.1);
}


/* List */

ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}

ol li {
  padding-left: 0.25em;
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px #c9c9c9;
  padding: 0.5em 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
  margin: -1em 0 2em -1em;
}

ul.icons li {
  display: inline-block;
  padding: 1em 0 0 1em;
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}

ul.actions li:last-child {
  padding-right: 0;
}

ul.actions.small li {
  padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
  display: block;
  padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
  padding-top: 0;
}

ul.actions.vertical li>* {
  margin-bottom: 0;
}

ul.actions.vertical.small li {
  padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
  padding-top: 0;
}

ul.actions.fit {
  display: table;
  margin-left: -1em;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 1em);
}

ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1em;
}

ul.actions.fit li>* {
  margin-bottom: 0;
}

ul.actions.fit.small {
  margin-left: -0.5em;
  width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
  padding: 0 0 0 0.5em;
}

@media screen and (max-width: 480px) {
  ul.actions {
    margin: 0 0 2em 0;
  }
  ul.actions li {
    padding: 1em 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }
  ul.actions li:first-child {
    padding-top: 0;
  }
  ul.actions li>* {
    width: 100%;
    margin: 0 !important;
  }
  ul.actions li>*.icon:before {
    margin-left: -2em;
  }
  ul.actions.small li {
    padding: 0.5em 0 0 0;
  }
  ul.actions.small li:first-child {
    padding-top: 0;
  }
}

dl {
  margin: 0 0 2em 0;
}

dl dt {
  display: block;
  font-weight: 900;
  margin: 0 0 1em 0;
}

dl dd {
  margin-left: 2em;
}


/* Form */

form {
  margin: -1em 0 2em 0;
}

form:after {
  content: '';
  display: block;
  clear: both;
  height: 1px;
}

form .field {
  position: relative;
  float: left;
  margin: 0 0 1.3em 0;
  vertical-align: top;
  width: 100%;
}

form .half {
  width: calc(50% + 1em) !important;
  padding-left: 2em;
}

form .half.first {
  width: calc(50% - 1em) !important;
  padding-left: 0;
}

form :last-child {
  margin-bottom: 0;
}

form .half:nth-last-child(2) {
  margin-bottom: 0;
}

form .actions {
  position: relative;
  clear: both;
  padding-top: 1em;
}

@media screen and (max-width: 480px) {
  form .half {
    width: 100% !important;
    padding-left: 0;
  }
  form .half.first {
    width: 100% !important;
    padding-left: 0;
  }
  form .half:nth-last-child(2) {
    margin: 0 0 1.3em 0;
  }
}

label {
  display: block;
  font-size: 0.9em;
  font-weight: 900;
  margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px #c9c9c9;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-bottom-color: #7bd0c1;
  box-shadow: inset 0 -1px 0 0 #7bd0c1;
}

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
}

.select-wrapper:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.select-wrapper:before {
  color: #c9c9c9;
  content: '\f078';
  display: block;
  height: 3em;
  line-height: 3em;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 3em;
}

.select-wrapper select::-ms-expand {
  display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 3em;
}

textarea {
  padding: 0;
  min-height: 3.75em;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
  text-decoration: none;
  color: #585858;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  padding-left: 2.55em;
  padding-right: 0.75em;
  position: relative;
}

input[type="checkbox"]+label:before,
input[type="radio"]+label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

input[type="checkbox"]+label:before,
input[type="radio"]+label:before {
  border-radius: 4px;
  border: solid 1px #c9c9c9;
  content: '';
  display: inline-block;
  height: 1.8em;
  left: 0;
  line-height: 1.725em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.8em;
}

input[type="checkbox"]:checked+label:before,
input[type="radio"]:checked+label:before {
  background: #585858;
  border-color: #585858;
  color: #ffffff;
  content: '\f00c';
}

input[type="checkbox"]:focus+label:before,
input[type="radio"]:focus+label:before {
  border-color: #7bd0c1;
  box-shadow: 0 0 0 1px #7bd0c1;
}

input[type="checkbox"]+label:before {
  border-radius: 4px;
}

input[type="radio"]+label:before {
  border-radius: 100%;
}


/* Box */

.box {
  border-radius: 4px;
  border: solid 1px #c9c9c9;
  margin-bottom: 2em;
  padding: 1.5em;
}

.box> :last-child,
.box> :last-child> :last-child,
.box> :last-child> :last-child> :last-child {
  margin-bottom: 0;
}

.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}


/* Image */

.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  border-radius: 4px;
  display: block;
}

.image.left,
.image.right {
  max-width: 40%;
}

.image.left img,
.image.right img {
  width: 100%;
}

.image.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}

@media screen and (max-width: 736px) {
  .image.main {
    margin: 0 0 2em 0;
  }
}


/* Table */

.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

table {
  margin: 0 0 2em 0;
  width: 100%;
}

table tbody tr {
  border: solid 1px #c9c9c9;
  border-left: 0;
  border-right: 0;
}

table tbody tr:nth-child(2n+1) {
  background-color: rgba(144, 144, 144, 0.075);
}

table td {
  padding: 0.75em 0.75em;
}

table th {
  font-size: 0.9em;
  font-weight: 900;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left;
}

table thead {
  border-bottom: solid 2px #c9c9c9;
}

table tfoot {
  border-top: solid 2px #c9c9c9;
}

table.alt {
  border-collapse: separate;
}

table.alt tbody tr td {
  border: solid 1px #c9c9c9;
  border-left-width: 0;
  border-top-width: 0;
}

table.alt tbody tr td:first-child {
  border-left-width: 1px;
}

table.alt tbody tr:first-child td {
  border-top-width: 1px;
}

table.alt thead {
  border-bottom: 0;
}

table.alt tfoot {
  border-top: 0;
}


/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 0 0 2px #585858;
  color: #585858 !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 900;
  height: 3.5em;
  letter-spacing: 0.35em;
  line-height: 3.45em;
  overflow: hidden;
  padding: 0 1.25em 0 1.6em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  color: #7bd0c1 !important;
  box-shadow: inset 0 0 0 2px #7bd0c1;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
  background-color: rgba(242, 132, 158, 0.1);
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
  font-size: 0.6em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
  font-size: 1em;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
  box-shadow: none;
  background-color: #585858;
  color: #ffffff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
  background-color: #7bd0c1;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
  background-color: #7bd0c1;
}

input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  opacity: 0.25;
}


/* Tiles */

.tiles {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  postiion: relative;
  margin: -2.5em 0 0 -2.5em;
}

.tiles article {
  -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: relative;
  width: calc(33.33333% - 2.5em);
  margin: 2.5em 0 0 2.5em;
}

.tiles article>.image {
  -moz-transition: -moz-transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  transition: transform 0.5s ease;
  position: relative;
  display: block;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.tiles article>.image img {
  display: block;
  width: 100%;
}

.tiles article>.image:before {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
  -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
  -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
  transition: background-color 0.5s ease, opacity 0.5s ease;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1.0;
  z-index: 1;
  opacity: 0.8;
}

.tiles article>.image:after {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.25;
  z-index: 2;
}

.tiles article>a {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
  -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
  -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
  transition: background-color 0.5s ease, transform 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  border-radius: 4px;
  border-bottom: 0;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  z-index: 3;
}

.tiles article>a> :last-child {
  margin: 0;
}

.tiles article>a:hover {
  color: #ffffff !important;
}

.tiles article>a h2 {
  margin: 0;
}

.tiles article>a .content {
  -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
  -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
  -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  width: 100%;
  max-height: 0;
  line-height: 1.5;
  margin-top: 0.35em;
  opacity: 0;
}

.tiles article>a .content> :last-child {
  margin-bottom: 0;
}

.tiles article.style0>.image:before {
  background-color: #f2849e;
}

.tiles article.style1>.image:before {
  background-color: #7ecaf6;
}

.tiles article.style2>.image:before {
  background-color: #7bd0c1;
}

.tiles article.style3>.image:before {
  background-color: #c75b9b;
}

.tiles article.style4>.image:before {
  background-color: #ae85ca;
}

.tiles article.style5>.image:before {
  background-color: #8499e7;
}

body:not(.is-touch) .tiles article:hover>.image {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

body:not(.is-touch) .tiles article:hover>.image:before {
  background-color: #333333;
  opacity: 0.35;
}

body:not(.is-touch) .tiles article:hover>.image:after {
  opacity: 0;
}

body:not(.is-touch) .tiles article:hover .content {
  max-height: 15em;
  opacity: 1;
}

*+.tiles {
  margin-top: 0em;
}

body.is-loading .tiles article {
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0;
}

body.is-touch .tiles article .content {
  max-height: 15em;
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  .tiles {
    margin: -1.25em 0 0 -1.25em;
  }
  .tiles article {
    width: calc(33.33333% - 1.25em);
    margin: 1.25em 0 0 1.25em;
  }
}

@media screen and (max-width: 980px) {
  .tiles {
    margin: -2.5em 0 0 -2.5em;
  }
  .tiles article {
    width: calc(50% - 2.5em);
    margin: 2.5em 0 0 2.5em;
  }
}

@media screen and (max-width: 736px) {
  .tiles {
    margin: -1.25em 0 0 -1.25em;
  }
  .tiles article {
    width: calc(50% - 1.25em);
    margin: 1.25em 0 0 1.25em;
  }
  .tiles article:hover>.image {
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@media screen and (max-width: 480px) {
  .tiles {
    margin: 0;
  }
  .tiles article {
    width: 100%;
    margin: 1.25em 0 0 0;
  }
}


/* Header */

#header {
  padding: 8em 0 0.1em 0;
}

#header .logo {
  display: block;
  border-bottom: 0;
  color: inherit;
  font-weight: 900;
  letter-spacing: 0.35em;
  margin: 0 0 2.5em 0;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

#header .logo>* {
  display: inline-block;
  vertical-align: middle;
}

#header .logo .symbol {
  margin-right: 1.65em;
}

#header .logo .symbol img {
  display: block;
  width: 4em;
  height: 4em;
}

#header nav {
  position: fixed;
  right: 2em;
  top: 2em;
  z-index: 10000;
}

#header nav ul {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#header nav ul li {
  display: block;
  padding: 0;
}

#header nav ul li a {
  display: block;
  position: relative;
  height: 3em;
  line-height: 3em;
  padding: 0 1.5em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  border: 0;
  font-size: 0.8em;
  font-weight: 900;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}

#header nav ul li a[href="#menu"] {
  -webkit-tap-highlight-color: transparent;
  width: 4em;
  text-indent: 4em;
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}

#header nav ul li a[href="#menu"]:before,
#header nav ul li a[href="#menu"]:after {
  -moz-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2em 2em;
}

#header nav ul li a[href="#menu"]:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %237bd0c1%3B %7D%3C/style%3E%3Cline x1='0' y1='25' x2='100' y2='25' /%3E%3Cline x1='0' y1='50' x2='100' y2='50' /%3E%3Cline x1='0' y1='75' x2='100' y2='75' /%3E%3C/svg%3E");
  opacity: 0;
}

#header nav ul li a[href="#menu"]:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23585858%3B %7D%3C/style%3E%3Cline x1='0' y1='25' x2='100' y2='25' /%3E%3Cline x1='0' y1='50' x2='100' y2='50' /%3E%3Cline x1='0' y1='75' x2='100' y2='75' /%3E%3C/svg%3E");
  opacity: 1;
}

#header nav ul li a[href="#menu"]:hover:before {
  opacity: 1;
}

#header nav ul li a[href="#menu"]:hover:after {
  opacity: 0;
}

@media screen and (max-width: 736px) {
  #header {
    padding: 4em 0 0.1em 0;
  }
  #header nav {
    right: 0.5em;
    top: 0.5em;
  }
  #header nav ul li a[href="#menu"]:before,
  #header nav ul li a[href="#menu"]:after {
    background-size: 1.5em 1.5em;
  }
}


/* Menu */

#wrapper {
  -moz-transition: opacity 0.45s ease;
  -webkit-transition: opacity 0.45s ease;
  -ms-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  opacity: 1;
}

#menu {
  -moz-transform: translateX(22em);
  -webkit-transform: translateX(22em);
  -ms-transform: translateX(22em);
  transform: translateX(22em);
  -moz-transition: -moz-transform 0.45s ease, visibility 0.45s;
  -webkit-transition: -webkit-transform 0.45s ease, visibility 0.45s;
  -ms-transition: -ms-transform 0.45s ease, visibility 0.45s;
  transition: transform 0.45s ease, visibility 0.45s;
  position: fixed;
  top: 0;
  right: 0;
  width: 22em;
  max-width: 80%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  background: #585858;
  color: #ffffff;
  cursor: default;
  visibility: hidden;
  z-index: 10002;
}

#menu>.inner {
  -moz-transition: opacity 0.45s ease;
  -webkit-transition: opacity 0.45s ease;
  -ms-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.75em;
  opacity: 0;
  overflow-y: auto;
}

#menu>.inner>ul {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
}

#menu>.inner>ul>li {
  padding: 0;
  border-top: solid 1px rgba(255, 255, 255, 0.15);
}

#menu>.inner>ul>li a {
  display: block;
  padding: 1em 0;
  line-height: 1.5;
  border: 0;
  color: inherit;
}

#menu>.inner>ul>li:first-child {
  border-top: 0;
  margin-top: -1em;
}

#menu>.close {
  -moz-transition: opacity 0.45s ease, -moz-transform 0.45s ease;
  -webkit-transition: opacity 0.45s ease, -webkit-transform 0.45s ease;
  -ms-transition: opacity 0.45s ease, -ms-transform 0.45s ease;
  transition: opacity 0.45s ease, transform 0.45s ease;
  -moz-transform: scale(0.25) rotate(180deg);
  -webkit-transform: scale(0.25) rotate(180deg);
  -ms-transform: scale(0.25) rotate(180deg);
  transform: scale(0.25) rotate(180deg);
  -webkit-tap-highlight-color: transparent;
  display: block;
  position: absolute;
  top: 2em;
  left: -6em;
  width: 6em;
  text-indent: 6em;
  height: 3em;
  border: 0;
  font-size: 1em;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}

#menu>.close:before,
#menu>.close:after {
  -moz-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2em 2em;
}

#menu>.close:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23f2849e%3B %7D%3C/style%3E%3Cline x1='15' y1='15' x2='85' y2='85' /%3E%3Cline x1='85' y1='15' x2='15' y2='85' /%3E%3C/svg%3E");
  opacity: 0;
}

#menu>.close:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23585858%3B %7D%3C/style%3E%3Cline x1='15' y1='15' x2='85' y2='85' /%3E%3Cline x1='85' y1='15' x2='15' y2='85' /%3E%3C/svg%3E");
  opacity: 1;
}

#menu>.close:hover:before {
  opacity: 1;
}

#menu>.close:hover:after {
  opacity: 0;
}

@media screen and (max-width: 736px) {
  #menu {
    -moz-transform: translateX(16.5em);
    -webkit-transform: translateX(16.5em);
    -ms-transform: translateX(16.5em);
    transform: translateX(16.5em);
    width: 16.5em;
  }
  #menu>.inner {
    padding: 2.75em 1.5em;
  }
  #menu>.close {
    top: 0.5em;
    left: -4.25em;
    width: 4.25em;
    text-indent: 4.25em;
  }
  #menu>.close:before,
  #menu>.close:after {
    background-size: 1.5em 1.5em;
  }
}

body.is-menu-visible #wrapper {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  cursor: default;
  opacity: 0.25;
}

body.is-menu-visible #menu {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
}

body.is-menu-visible #menu>* {
  opacity: 1;
}

body.is-menu-visible #menu .close {
  -moz-transform: scale(1.0) rotate(0deg);
  -webkit-transform: scale(1.0) rotate(0deg);
  -ms-transform: scale(1.0) rotate(0deg);
  transform: scale(1.0) rotate(0deg);
  opacity: 1;
}


/* Main */

#main {
  padding: 0em 0 6em 0;
}

@media screen and (max-width: 736px) {
  #main {
    padding: 0em 0 4em 0;
  }
}


/* Footer */

#footer {
  padding: 5em 0 6em 0;
  background-color: #f6f6f6;
}

#footer>.inner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

#footer>.inner>*> :last-child {
  margin-bottom: 0;
}

#footer>.inner section:nth-child(1) {
  width: calc(66% - 2.5em);
  margin-right: 2.5em;
}

#footer>.inner section:nth-child(2) {
  width: calc(33% - 2.5em);
  margin-left: 2.5em;
}

#footer>.inner .copyright {
  width: 100%;
  padding: 0;
  margin-top: 5em;
  list-style: none;
  font-size: 0.8em;
  color: rgba(88, 88, 88, 0.5);
}

#footer>.inner .copyright a {
  color: inherit;
}

#footer>.inner .copyright li {
  display: inline-block;
  border-left: solid 1px rgba(88, 88, 88, 0.15);
  line-height: 1;
  padding: 0 0 0 1em;
  margin: 0 0 0 1em;
}

#footer>.inner .copyright li:first-child {
  border-left: 0;
  padding-left: 0;
  margin-left: 0;
}

@media screen and (max-width: 1280px) {
  #footer {
    padding: 5em 0 3em 0;
  }
  #footer>.inner section:nth-child(1) {
    width: calc(66% - 1.25em);
    margin-right: 1.25em;
  }
  #footer>.inner section:nth-child(2) {
    width: calc(33% - 1.25em);
    margin-left: 1.25em;
  }
}

@media screen and (max-width: 980px) {
  #footer>.inner section:nth-child(1) {
    width: 66%;
    margin-right: 0;
  }
  #footer>.inner section:nth-child(2) {
    width: calc(33% - 2.5em);
    margin-left: 2.5em;
  }
}

@media screen and (max-width: 736px) {
  #footer {
    padding: 3em 0 1em 0;
  }
  #footer>.inner {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #footer>.inner section:nth-child(1) {
    width: 100%;
    margin-right: 0;
    margin: 3em 0 0 0;
  }
  #footer>.inner section:nth-child(2) {
    -moz-order: -1;
    -webkit-order: -1;
    -ms-order: -1;
    order: -1;
    width: 100%;
    margin-left: 0;
  }
  #footer>.inner .copyright {
    margin-top: 3em;
  }
}

@media screen and (max-width: 480px) {
  #footer>.inner .copyright {
    margin-top: 3em;
  }
  #footer>.inner .copyright li {
    border-left: 0;
    padding-left: 0;
    margin: 0.75em 0 0 0;
    display: block;
    line-height: inherit;
  }
  #footer>.inner .copyright li:first-child {
    margin-top: 0;
  }
}


/* Wrapper */

.inner {
  width: 100%;
  margin: 0 auto;
  max-width:68em;
  padding: 0 2.5em;
}

@media screen and (max-width: 736px) {
  #wrapper>*>.inner {
    padding: 0 1.25em;
  }
}
#main > div > section > app-latest-upload-panel{
  display:flex;
  flex-wrap: wrap;
}