<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
      <app-menubar></app-menubar>
      <!-- <app-home></app-home> -->
      <router-outlet></router-outlet>
      <app-footer></app-footer>
</div>