<ng-container *ngFor="let upload of this.latestUploadList; let i = index" [attr.data-index]="i">
<article class="style{{i}}" >
  <span class="image">
		  <img src="{{upload.thumbnail}}" alt="" />
	</span>
  <a href="{{upload.url}}" target="_blank">
    <h2>{{upload.title}}</h2>
    <div class="content">
      <p>{{description}}</p>
    </div>
  </a>
</article>
</ng-container>