<!-- Main -->
<div id="main">
  <div class="inner">
    <header>
      <h1>Welcome to the MENCIUS music website</h1>
      <p>
        According to Mencius, music enables people to express joy in acquiring the great virtues. This sense of joy catalyzes the growth of the virtues, and the resulting chain reaction leads to an ecstatic experience.
      </p>
      <h3>Our latest uploads</h3>
    </header>
    <section class="tiles">
      <ng-container>
        <app-latest-upload-panel></app-latest-upload-panel>
      </ng-container>
    </section>
  </div>
</div>
